<div class="container-fluid">
    <section>
        <div >
            <h1 class="text-center"> {{item.name}} <img src="{{item.png32}}" alt="BTC Logo" ></h1>
        </div>
    </section>
    <section>
        <h1>Graficos</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt fuga ea sapiente corrupti veritatis
            asperiores aspernatur porro repellendus molestiae debitis exercitationem, velit necessitatibus ipsum cumque,
            maxime culpa modi iusto atque.</p>
    </section>
    <section>
        <h1>Mercados</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt fuga ea sapiente corrupti veritatis
            asperiores aspernatur porro repellendus molestiae debitis exercitationem, velit necessitatibus ipsum cumque,
            maxime culpa modi iusto atque.</p>
    </section>
</div>
