<div class="container-fluid">
    <div>
        <h1 class="text-center">Course name : {{course.name}}</h1>
    </div>
    <div>
        <h1>ID : {{course.id}}</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt fuga ea sapiente corrupti veritatis
            asperiores aspernatur porro repellendus molestiae debitis exercitationem, velit necessitatibus ipsum cumque,
            maxime culpa modi iusto atque.</p>
    </div>
    <div>
        <h1>FREE : {{course.free}}</h1>
        <h1>NIVEL : {{course.level}}</h1>
        <h1>TAGS : {{course.tags}}</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt fuga ea sapiente corrupti veritatis
            asperiores aspernatur porro repellendus molestiae debitis exercitationem, velit necessitatibus ipsum cumque,
            maxime culpa modi iusto atque.</p>
    </div>
</div>