<div class="container-fluid">
    <div class="header">
        <h1> {{course.name}} </h1>
        <h3> Por {{course.professor}}</h3>
        <p>
            {{course.about}}
        </p>
        <div class="opciones" *ngIf="userService.checkAunthentication()">
            <button mat-flat-button color="primary" (click)="startCourse()" *ngIf="!userService.checkCourse(course.id)">
                <mat-icon>play_circle_outline</mat-icon>
                <span>Comenzar curso</span>
            </button>
            <button mat-flat-button color="warn" (click)="deleteCourse()" *ngIf="userService.checkCourse(course.id)">
                <mat-icon>play_circle_outline</mat-icon>
                <span>Abandonar curso</span>
            </button>
            <button mat-flat-button color="primary">
                <mat-icon>cloud_download</mat-icon>
                <span>Descargar curso</span>
            </button>
        </div>
    </div>
    <span></span>
    <div class="body">
        <div>
            <mat-accordion>
                <H1>Videos</H1>
                <mat-expansion-panel *ngFor="let tag of course.tags">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <!-- SECCIONES DEL CURSO -->
                            {{ tag }}
                            <!-- SECCIONES DEL CURSO -->
                        </mat-panel-title>
                        <mat-panel-description>
                            <!-- DESCRIPCION DE LA SECCIONES DEL CURSO -->
                           Contenido de la seccion
                            <!-- DESCRIPCION DE LA SECCIONES DEL CURSO -->
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <!-- ESTO TENGO TRABAJA CON ARRAYS,HABRIA QUE VER COMO HACER IS ES UN OJBETO O POR DEMAS, YA QUE ASI FUNCIONA 
                    PERO EN UN FUTURO ESTO SE ROMPERIA -->
                    <!-- CONTEIDO DE LAS SECCIONES -->
                        <!-- <div *ngFor="let video of tag.seccion">
                            <p>This is the primary content of the panel.</p>
                        </div> -->
                        <p>This is the primary content of the panel.</p>
                    <!-- CONTEIDO DE LAS SECCIONES -->
                </mat-expansion-panel>
            </mat-accordion>
        </div>

    </div>
</div>