mat-expansion-panel-header{
    height : 50px !important;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header {    
    justify-content: center;
    text-align: center;
}

.card {
    max-width: 550px;
    margin: 20px;
    background: rgb(0,0,0);
    background: rgb(0,0,0);
    background: -moz-radial-gradient(circle, rgba(0,0,0,0.14609593837535018) 0%, rgba(152,152,210,0.2553396358543417) 50%, rgba(0,0,0,0.9612219887955182) 100%);
    background: -webkit-radial-gradient(circle, rgba(0,0,0,0.14609593837535018) 0%, rgba(152,152,210,0.2553396358543417) 50%, rgba(0,0,0,0.9612219887955182) 100%);
    background: radial-gradient(circle, rgba(0,0,0,0.14609593837535018) 0%, rgba(152,152,210,0.2553396358543417) 50%, rgba(0,0,0,0.9612219887955182) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
  
.material-card{
    max-width: 300px;
    margin: 20px;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(3deg, rgba(0,0,0,0.14609593837535018) 0%, rgba(152,152,210,0.2553396358543417) 50%, rgba(0,0,0,0.9612219887955182) 100%);
    background: -webkit-linear-gradient(3deg, rgba(0,0,0,0.14609593837535018) 0%, rgba(152,152,210,0.2553396358543417) 50%, rgba(0,0,0,0.9612219887955182) 100%);
    background: linear-gradient(3deg, rgba(0,0,0,0.14609593837535018) 0%, rgba(152,152,210,0.2553396358543417) 50%, rgba(0,0,0,0.9612219887955182) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);}