.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header {    
    justify-content: center;
    text-align: center;
}

mat-card{
    background-color:dimgray;
    color: white;
    margin-top: 0.5em;
}


