.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    border: 1px solid black;
    max-width: 300px;
    margin: 7px;
    padding-top: 5px;
}

.card:focus{
    cursor: pointer;
    border: 3px solid black;
    background: gainsboro;
}

.card:hover{
    cursor: pointer;
    border: 3px solid black;
    background: gainsboro;
}
