*{
    background: rgb(53,53,145);
    background: -moz-radial-gradient(circle, rgba(53,53,145,0.7567401960784313) 0%, rgba(0,189,255,0.9612219887955182) 43%, rgba(2,0,36,0.6839110644257703) 100%);
    background: -webkit-radial-gradient(circle, rgba(53,53,145,0.7567401960784313) 0%, rgba(0,189,255,0.9612219887955182) 43%, rgba(2,0,36,0.6839110644257703) 100%);
    background: radial-gradient(circle, rgba(53,53,145,0.7567401960784313) 0%, rgba(0,189,255,0.9612219887955182) 43%, rgba(2,0,36,0.6839110644257703) 100%);
}