<!-- ESTO ES PARA EL USO DE 0AUTH -->
<!-- <div *ngIf="authService.isLoading$ | async; else loaded">
    <div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 20px);">
        <h1 class="m-2">Cargando</h1>
        <mat-spinner></mat-spinner>
    </div>
</div>
<ng-template #loaded>
    <app-navbar></app-navbar>
    <div class="content"  role="main">
        <router-outlet> </router-outlet>
    </div>
    <app-footer></app-footer>
</ng-template> -->
<app-navbar></app-navbar>
<div class="main">
    <router-outlet> </router-outlet>
</div>
<app-footer></app-footer>
