<mat-toolbar  class="navbar">
    <button class="text-light h3" mat-button routerLink="/home">FinanSys</button>
    <button class="text-light" mat-button routerLink="/courses" >Cursos</button>

    <!-- ACA PODRIAN IR LAS VISTAS DE CADA CURSO POR NIVEL -->
    <!-- PERO HAY QUE MODIFICARL LAS RUTAS -->
    <!-- <button class="text-light" mat-button routerLink="/Cursos"> Cursos </button>
    <mat-menu #courses="matMenu">
      <button mat-menu-item routerLink="/Cursos/Principiante" >Principiantes</button>
      <button mat-menu-item routerLink="/Cursos/Intermedio">Intermedios</button>
      <button mat-menu-item routerLink="/Cursos/Avanzado">Avanzados</button> 
    </mat-menu> -->
      
    <button class="text-light" mat-button [matMenuTriggerFor]="assets"> Activos </button>
    <mat-menu #assets="matMenu">
      <button mat-menu-item routerLink="/assets">Activos 1</button>
      <button mat-menu-item routerLink="/assets">Activos 2</button>
      <button mat-menu-item routerLink="/assets">Activos 3</button>
    </mat-menu>

    @if (checkCurrentUser()) {
      <button class="text-light" mat-button routerLink="/myCourses">Mis cursos</button>
    }
    
    @if (checkCurrentUser()) {
      <button class="text-light" mat-button>Mis Activos</button>
    }

    <span style="flex: 1 1 auto;"></span>

    @if ( !checkCurrentUser() ) {
      <button class="btn btn-outline-success m-1" (click)="login()">Iniciar Sesion </button>
    }
    @else {
      <button type="button" class="btn btn-outline-primary m-1" routerLink="/profile">Perfil</button>
      <button class="btn btn-outline-success m-1" (click)="logout()">Cerrar Sesion </button>
    }

      <!-- LOGIN CON AUTH0 -->
    <!-- <ng-container *ngIf="authService.isAuthenticated$ | async; else loggedOut">
    <a type="button" class="btn btn-primary btn-outline-success text-light" routerLink="/profile">Perfil</a>
      <button mat-button class="btn btn-outline-danger m-1 text-light" (click)="closeSession()">Cerrar Sesion</button> 
    </ng-container>
    <ng-template #loggedOut>
      <button type="button" class="btn btn-outline-success m-1" (click)="loginUser()">Iniciar Sesion</button>
      <button class="btn btn-outline-success m-1" (click)="login()">Iniciar Sesion </button>
    </ng-template> -->
    
</mat-toolbar>


