<div class="container-fluid">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1>Principiantes</h1>
                </mat-panel-title>
                <mat-panel-description>
                    <h5>Cursos de nivel principiante</h5>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- ACA VA EL TEMA DEL RENDERIZADO DE LA VISTA SEGUN LOS PRIVILEGIOS DEL USUARIOS -->
            @if ( userService.checkRoles()) {
                <button mat-button color="primary" aria-label="Example icon button with a home icon" (click)="showMessage()">
                    Agregar curso
                </button>
            }
            <div class="contenedor">
                @for (course of courses; track course.id) {
                    @if ( course.level =='Principiante') {
                        <app-card [idCourse]="course.name"> </app-card>
                    }
                }             
            </div>
            <!--PARA PODER USAR UN APGINADOR, DEBERIAMOS TENER LOS CURSOS POR NIVEL, HABRIA QUE TENER EL SERVICIO DE STA FORMA-->
            <mat-paginator 
                [length]="100"
                [pageSize]="14"
                [pageSizeOptions]="[14]"
                aria-label="Select page">
            </mat-paginator>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1>Intermedios</h1>
                </mat-panel-title>
                <mat-panel-description>
                    <h5>Cursos de nivel intermedio</h5>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- ACA VA EL TEMA DEL RENDERIZADO DE LA VISTA SEGUN LOS PRIVILEGIOS DEL USUARIOS -->
            @if ( userService.checkRoles() ) {
                <button mat-button color="primary" aria-label="Example icon button with a home icon" (click)="showMessage()">
                Agregar curso
            </button>
            }

            <div class="contenedor">
                @for (course of courses; track course.id) {
                    @if ( course.level=='Intermedio') {
                        <app-card [idCourse]="course.name"> </app-card>
                    }
                }
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1>Avanzados</h1>
                </mat-panel-title>
                <mat-panel-description>
                    <h5>Cursos de nivel avanzado</h5>
                </mat-panel-description>
            </mat-expansion-panel-header>
            @if ( userService.checkRoles() ) {
                <button mat-button color="primary" aria-label="Example icon button with a home icon" (click)="showMessage()">
                Agregar curso
            </button>
            }
            <div class="contenedor">
                @for (course of courses; track course.id) {
                    @if ( course.level=='Avanzado') {
                        <app-card [idCourse]="course.name"> </app-card>
                    }
                }
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>