<div class="container-fluid">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1>Principiantes</h1>
                </mat-panel-title>
                <mat-panel-description>
                    <h5>Cursos de nivel principiante</h5>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- ACA VA EL TEMA DEL RENDERIZADO DE LA VISTA SEGUN LOS PRIVILEGIOS DEL USUARIOS -->
            <!--TODO ESTO HABRI QUE HACER EN EUN METODO PARA OBTNER EL TIPO DE USUARIO Y TRAER DEL BACKEND LAS COSAS
            COMO NO ESTA DESARROLLADO ESTA ASI-->
            @if ( userService.checkRoles()) {
            <button mat-button color="primary" aria-label="Example icon button with a home icon"
                (click)="showMessage()">
                Agregar curso
            </button>
            }
            <div class="contenedor">
                @for (course of courses; track course.id) {
                    @if ( course.level =='Principiante') {
                    <mat-card class="card" tabindex="0" routerLink="{{course.name}}">
                        <mat-card-header>
                            <mat-card-title>
                                {{course.name}}
                            </mat-card-title>
                            <mat-card-subtitle>
                                Por: {{course.professor}}
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            {{course.about}}
                        </mat-card-content>
                    </mat-card>
                    }
                }
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1>Intermedios</h1>
                </mat-panel-title>
                <mat-panel-description>
                    <h5>Cursos de nivel intermedio</h5>
                </mat-panel-description>
            </mat-expansion-panel-header>
            @if ( userService.checkRoles() ) {
            <button mat-button color="primary" aria-label="Example icon button with a home icon"
                (click)="showMessage()">
                Agregar curso
            </button>
            }

            <div class="contenedor">
                @for (course of courses; track course.id) {
                    @if ( course.level=='Intermedio') {
                    <mat-card class="card" tabindex="0" routerLink="{{course.name}}">
                        <mat-card-header>
                            <mat-card-title> 
                                {{course.name}} 
                            </mat-card-title>
                            <mat-card-subtitle> 
                                Por: {{course.professor}} 
                            </mat-card-subtitle>
                        </mat-card-header>
                            <mat-card-content>
                                {{course.about}}
                            </mat-card-content>   
                    </mat-card> 
                    }
                }
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1>Avanzados</h1>
                </mat-panel-title>
                <mat-panel-description>
                    <h5>Cursos de nivel avanzado</h5>
                </mat-panel-description>
            </mat-expansion-panel-header>
            @if ( userService.checkRoles() ) {
            <button mat-button color="primary" aria-label="Example icon button with a home icon"
                (click)="showMessage()">
                Agregar curso
            </button>
            }
            <div class="contenedor">
                @for (course of courses; track course.id) {
                    @if ( course.level=='Avanzado') {
                    <mat-card class="card" tabindex="0" routerLink="{{course.name}}">
                        <mat-card-header>
                            <mat-card-title>
                                {{course.name}}
                            </mat-card-title>
                            <mat-card-subtitle>
                                Por: {{course.professor}}
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            {{course.about}}
                        </mat-card-content>
                    </mat-card>
                    }
                }
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>