<!-- <div class="container-fluid">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1>Principiantes</h1>
                </mat-panel-title>
                <mat-panel-description>
                    <h5>Cursos de nivel principiante</h5>
                </mat-panel-description>
            </mat-expansion-panel-header>
            @if ( userService.checkRoles()) {
            <button mat-button color="primary" aria-label="Example icon button with a home icon"
                (click)="showMessage()">
                Agregar curso
            </button>
            }
            <div class="contenedor">
                @for (course of coursePrinc; track course.id) {
                    <mat-card class="card" tabindex="0" routerLink="{{course.name}}">
                        <mat-card-header>
                            <mat-card-title>
                                {{course.name}}
                            </mat-card-title>
                            <mat-card-subtitle>
                                Por: {{course.professor}}
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            {{course.about}}
                        </mat-card-content>
                    </mat-card>
                    }
            </div>
            <mat-paginator
                [length]="100"
                [pageSize]="5"
                aria-label="Select page"
                (page)="handlePageEvent($event)"
                >
            </mat-paginator>
        </mat-expansion-panel>
    </mat-accordion>
    
    <app-accordion
        [level]="'Principiante'">

    </app-accordion>

    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1>Intermedios</h1>
                </mat-panel-title>
                <mat-panel-description>
                    <h5>Cursos de nivel intermedio</h5>
                </mat-panel-description>
            </mat-expansion-panel-header>
            @if ( userService.checkRoles() ) {
            <button mat-button color="primary" aria-label="Example icon button with a home icon"
                (click)="showMessage()">
                Agregar curso
            </button>
            }

            <div class="contenedor">
                @for (course of courseInter; track course.id) {
                    <mat-card class="card" tabindex="0" routerLink="{{course.name}}">
                        <mat-card-header>
                            <mat-card-title> 
                                {{course.name}} 
                            </mat-card-title>
                            <mat-card-subtitle> 
                                Por: {{course.professor}} 
                            </mat-card-subtitle>
                        </mat-card-header>
                            <mat-card-content>
                                {{course.about}}
                            </mat-card-content>   
                    </mat-card> 
                    }
            </div>
            <mat-paginator
                [length]="100"
                [pageSize]="5"
                aria-label="Select page"
                (page)="handlePageEvent($event)"
                >
            </mat-paginator>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1>Avanzados</h1>
                </mat-panel-title>
                <mat-panel-description>
                    <h5>Cursos de nivel avanzado</h5>
                </mat-panel-description>
            </mat-expansion-panel-header>
            @if ( userService.checkRoles() ) {
            <button mat-button color="primary" aria-label="Example icon button with a home icon"
                (click)="showMessage()">
                Agregar curso
            </button>
            }
            <div class="contenedor">
                @for (course of courseAvanz; track course.id) {
                    <mat-card class="card" tabindex="0" routerLink="{{course.name}}">
                        <mat-card-header>
                            <mat-card-title>
                                {{course.name}}
                            </mat-card-title>
                            <mat-card-subtitle>
                                Por: {{course.professor}}
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            {{course.about}}
                        </mat-card-content>
                    </mat-card>
                    }
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div> 
-->
<div class="container-fluid">

    <app-accordion
        [level]="'Principiante'">
    </app-accordion>

    <app-accordion
        [level]="'Intermedio'">
    </app-accordion>

    <app-accordion
        [level]="'Avanzado'">
    </app-accordion>

</div>
