<div class="container-fluid">
    <section>
            <h1 class="text-center">{{course.name}}</h1>
            <div class="text-center">
                <h1>{{course.id}} --- {{course.weight }} --- {{course.symbol }}</h1>
            </div>
    </section>
    <section>
        <h1>Graficos</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt fuga ea sapiente corrupti veritatis
            asperiores aspernatur porro repellendus molestiae debitis exercitationem, velit necessitatibus ipsum cumque,
            maxime culpa modi iusto atque.</p>
    </section>
    <section>
        <h1>Mercados</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt fuga ea sapiente corrupti veritatis
            asperiores aspernatur porro repellendus molestiae debitis exercitationem, velit necessitatibus ipsum cumque,
            maxime culpa modi iusto atque.</p>
    </section>
</div>
