.card {
    all: unset;
    border-radius: 25px;
    border: 5px solid #000000;
    background-color: #776363;
    height: 50px;
    width: 200px;
    margin: 0 8px 16px ;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.8em;
}
