<div class="container-fluid ">
  <h1 mat-dialog-title class="text-center">Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <mat-dialog-content>
      <mat-form-field class="col example-full-width ">
        <mat-label>Usuario/Email</mat-label>
        <input matInput formControlName="id">
      </mat-form-field>
      <mat-form-field class="col example-full-width ">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="start">
      <a mat-button href="https://www.google.com/" [mat-dialog-close]="false" target="_blank">Contraseña olvidada?</a>
      <button mat-button  [mat-dialog-close]="false" (click)="register()" >Nuevo?</button>
    </mat-dialog-actions>
    <mat-dialog-actions align="end">
      <button class="m-1" mat-raised-button color="primary" >Login</button>
      <button mat-raised-button color="warn" [mat-dialog-close]="false">Cerrar</button>
    </mat-dialog-actions>
  </form>
</div>



