<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid">
    <a class="navbar-brand disabled">FinanSys</a>
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <!-- PARA QUE EL BOTON VAYA AL LADO DERECHO DE LA PAGINA TIENE QUE HABER UN LINK INVISIBLE-->
          <a class="nav-item nav-link text-bg-primary btn invisible" aria-current="page" href="#"></a>
        </li>
      </ul>
      <span>
        <div class="navbar-nav me-auto ps-2 container-fluid">
          <ng-container class="me-auto ps-2" *ngIf="authService.isAuthenticated$ | async; else loggedOut">
            <!--PERFIL-->
            <a class="nav-item nav-link btn text-bg-primary me-auto m-1" routerLink="/perfil" routerLinkActive="active">
              Perfil
            </a>
            <!--PERFIL-->
            <!--LOGOUT-->
            <a class="nav-item nav-link btn text-bg-danger me-auto m-1" (click)="closeSession()">
              Cerrar Sesion
            </a>
            <!--LOGOUT-->
          </ng-container>   
          <!--LOGIN-->
          <ng-template #loggedOut>
              <a class="nav-item nav-link btn text-bg-primary" (click)="loginUser()">Iniciar Sesion</a>
          </ng-template>
          <!--LOGIN-->
        </div>
      </span>
    </div>
  </div>
</nav>
