<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid">
    <a class="navbar-brand text-light mr-auto" href="">FinanSys</a>
    <!--Buscador-->
    <!--ACA FALTA EL TEMA DEL FILTRADO DE LAS BUSQUEDAS Y COMO MIERDA HARIAMOS, 
    QUEDA PENDIENTE PARA EL DESARROLLO FUTURO.
    VER SI SE PUEDE HACER CON UN RUTEO O SI DIRECTAMENTE SE CARGA ALGUN COMPONENTE-->
    <!--Buscador-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ml-3">
        <li class="nav-item">
          <a class="nav-link text-light" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/cursos">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/activos">Activos</a>
        </li>
      </ul>
      <div class="navbar-nav me-auto mb-2 mb-lg-0 invisible">
      </div>
      <div class="d-flex">
        <ng-container *ngIf="authService.isAuthenticated$ | async; else loggedOut">
          <!--PERFIL-->
          <button mat-fab (click)="navigateToProfile()" color="primary">
            <mat-icon> person_pin</mat-icon>
          </button>
          <a class="btn btn-outline-success m-1" href="/perfil">Perfil</a>
          <!--PERFIL-->
          <!--LOGOUT-->
          <button type="button" class="btn btn-outline-danger m-1" (click)="closeSession()">Cerrar Sesion</button>
          <!--LOGOUT-->
        </ng-container>
        <!--LOGIN-->
        <ng-template #loggedOut>
          <button type="button" class="btn btn-outline-success m-1" (click)="loginUser()">Iniciar Sesion</button>
        </ng-template>
        <!--LOGIN-->
      </div>
    </div>
  </div>
</nav>