<!-- <div class="container-fluid">
    <div class="row">
        <h1 class="p-2">Principiantes</h1>
        <div class="col" *ngFor="let course of courses">
            <app-card [idCourse]="course.name"></app-card>
        </div>
    </div>
    <div class="row">
        <h1 class="p-2">Intermedios</h1>        
        <div class="col" *ngFor="let course of courses">
            <app-card [idCourse]="course.name"></app-card>
        </div>
    </div>
    <div class="row">
        <h1 class="p-2">Avanzados</h1>
        <div class="col" *ngFor="let course of courses">
            <app-card [idCourse]="course.name"></app-card>
        </div>
    </div>
</div> -->
<div class="container-fluid">
    <mat-accordion>
        <mat-expansion-panel
            class="specific-class"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
                <h1>Principiantes</h1>
            </mat-panel-title>
            <mat-panel-description>
              <h5>Cursos de nivel principiante</h5>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col" *ngFor="let course of courses">
                <app-card [idCourse]="course.name"></app-card>
            </div>
          </div>
        </mat-expansion-panel>
    </mat-accordion>
    
      
    <mat-accordion>
        <mat-expansion-panel 
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
        >
            <mat-expansion-panel-header>
            <mat-panel-title>
                <h1>Intermedios</h1>
            </mat-panel-title>
            <mat-panel-description>
                <h5>Cursos de nivel intermedio</h5> 
            </mat-panel-description>
            </mat-expansion-panel-header >
            <div class="row">
                <div class="col" *ngFor="let course of courses">
                    <app-card [idCourse]="course.name"></app-card>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    
    <mat-accordion>
        <mat-expansion-panel 
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
                <h1>Avanzados</h1>
            </mat-panel-title>
            <mat-panel-description>
                <h5>Cursos de nivel avanzado</h5> 
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col" *ngFor="let course of courses">
                <app-card [idCourse]="course.name"></app-card>
            </div>
          </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>