<div class="container-fluid">
    <div class="row">
        <h1 class="p-2">Principiantes</h1>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
    </div>
    <div class="row">
        <h1 class="p-2">Intermedios</h1>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
    </div>
    <div class="row">
        <h1 class="p-2">Avanzados</h1>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
        <div class="col">
            <app-card></app-card>
        </div>
    </div>
</div>