*{
    background-color: rgb(163, 241, 241);
}

p{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Este formato de letra fue a mi gusto, pero hay que definirlo*/
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}