<div class="container-fluid">
    <div class="row text-center p-3">
        <h1>Bienvenido a la plataforma de FinanSys!</h1>
        <h2>¿Que estas esperando para reinventarte?</h2>
        <p>
            Con esta plataforma, podras afianzar o adquirir nuevos conocimientos de los
            diversos activos digitales y seguir creciendo con las nuevas tecnologias y novedades
            que surgen dia a dia, realizar un seguimiento a los mercados, entre muchas otras cosas!
        </p>
    </div>
    <div class="section" tabindex="0">
        <h1>Section 1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet lorem non libero pellentesque, eu pulvinar est tempor. Suspendisse potenti. Proin faucibus enim non velit auctor, et tincidunt massa convallis. Quisque eu elit ut turpis consectetur feugiat.</p>
    </div>

    <div class="section" tabindex="0">
        <h1>Section 2</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet lorem non libero pellentesque, eu pulvinar est tempor. Suspendisse potenti. Proin faucibus enim non velit auctor, et tincidunt massa convallis. Quisque eu elit ut turpis consectetur feugiat.</p>
    </div>

    <div class="section" tabindex="0">
        <h1>Section 3</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet lorem non libero pellentesque, eu pulvinar est tempor. Suspendisse potenti. Proin faucibus enim non velit auctor, et tincidunt massa convallis. Quisque eu elit ut turpis consectetur feugiat.</p>
    </div>
</div>
