<div class="container-fluid p-3">
    @if (TempListCourses) {
        <div class="contenedor">
        @for (course of TempListCourses; track course.id) {
            <mat-card class="card" tabindex="0" routerLink="{{course.name}}">
                <mat-card-header>
                    <mat-card-title>
                        {{course.name}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        Por: {{course.professor}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    {{course.about}}
                </mat-card-content>
            </mat-card>
        }
    </div>
    }
    @else {
        <h1 class="text-center p-2">El usuario no esta inscripto en cursos </h1>
    }
</div>






