<c-carousel transition="slide">
    <c-carousel-inner>
        <c-carousel-item *ngFor="let slide of slides">
            <img 
            class="w-100 bg-black"
            [src]="slide.src" 
            alt="{{slide.title}}" 
            loading="lazy" />
            <c-carousel-caption class="d-none d-md-block">
                <h3>{{slide.title}}</h3>
                <p>{{slide.subtitle}}</p>
            </c-carousel-caption>
        </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control caption="Anterior" direction="prev"></c-carousel-control>
    <c-carousel-control caption="Siguiente" direction="next"></c-carousel-control>
</c-carousel>
