<div class="d-flex flex-column h-100 w-100 bg-white">
    <div class="container-fluid bg-white" *ngIf="authService.isLoading$ | async; else loaded">
        <!--CARGA DE DATOS DEL USUARIO DE SESION-->
        <div class="container-fluid h-100 justify-content-center mt-lg-5 bg-white">
            <div class="row w-100 align-items-center mt-5 bg-white">
                <div class="text-center mt-5 bg-white">
                    <button class="btn btn-dark btn-lg mt-5 p-4" type="button" disabled>
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        Cargando...
                    </button>
                </div>
            </div>
        </div>
        <!--CARGA DE DATOS DEL USUARIO DE SESION-->
    </div>
    <ng-template #loaded>
        <!--NAVBAR-->
        <app-navbar></app-navbar>
        <!--NAVBAR-->
        <!--APP-->
        <router-outlet> </router-outlet>
        <!--APP-->
        <!--FOOTER-->
        <app-footer></app-footer>
        <!--FOOTER-->
    </ng-template>
</div>