<div id="app" class="d-flex flex-column h-100">   
    <div class="container-fluid" *ngIf="authService.isLoading$ | async; else loaded">
      <!--CARGA DE DATOS DEL USUARIO DE SESION-->
      <div class="container-fluid h-100 justify-content-center mt-lg-5"> 
        <div class="row w-100 align-items-center mt-5">
            <div class="text-center mt-5">
                <button class="btn btn-dark btn-lg mt-5 p-4" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Cargando...
                </button>
            </div>	
        </div>
      </div>
      <!--CARGA DE DATOS DEL USUARIO DE SESION-->
    </div>
    <ng-template #loaded>
        <app-navbar>  </app-navbar>
        <div class="container-fluid flex-grow-1">
            <router-outlet> </router-outlet>
        </div>   
        <app-footer></app-footer>
    </ng-template>
</div>

