<div class="list-course-container">
    <div class="grid-container">
        @for (course of TempListCourses; track course.id) {
            <app-card-courses
                [course]="course"
            ></app-card-courses>
            }
    </div>
</div>

<div class="d-flex justify-content-end">
    <mat-paginator
        class="paginador justify-content-end"
        [length]="getNumbersOfCourses()"
        [pageSizeOptions]="[8]"
        aria-label="Select page"
        (page)="handlePageEvent($event)">
    </mat-paginator>
</div>