<!-- <div class="text-bg-primary" *ngIf="authService.user$ | async as user">
  <div class="row" style="margin: 0 0 0 0;">
    <div class="col-md-2 solid border m-1">
      <img 
      [src]="user.picture" 
      alt="User's profile picture" 
      class="rounded-circle img-fluidprofile-picture" />
    </div>
    <div class="col-md solid border m-1">
      <h2>{{user.name}}</h2>
      <p class=" text-light">{{user.email}}</p>
    </div>
  </div>
  <div class="solid border m-1" *ngIf="profileJSON">
    <pre class="text-light bg-dark ">{{profileJSON}}</pre>
  </div>
</div> -->
<div class="container-fluid">
  <h1 class="text-center p-2">PERFIL!</h1>
  <div class="solid border m-1" *ngIf="profileJSON">
    <pre class="text-light bg-dark ">{{profileJSON}}</pre>
  </div>
</div>
