<div class="container-fluid">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">account_balance_wallet</mat-icon>
                Criptomonedas
            </ng-template>
            <app-tab 
                [pageSize]="5">
            </app-tab>
        </mat-tab>
        <mat-tab label="Cereales">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon"> bar_chart</mat-icon>
                Mercado 2
            </ng-template>
            <app-tab 
                [pageSize]="20">
            </app-tab>
        </mat-tab>
        <mat-tab label="CEDEARS">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon"> bar_chart</mat-icon>
                Mercado 3
            </ng-template>
            <app-tab 
                [pageSize]="10">
            </app-tab>
        </mat-tab>
    </mat-tab-group>
</div>