<div class="m-2">
    <mat-card class="m-auto align-items-center w-50  border solid">
        <mat-card-header>
            <h2>Registrar</h2>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form" [formGroup]="registerform" (ngSubmit)="proceedregister()">
                <mat-form-field class="col example-full-width">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="id">
                </mat-form-field>
                <mat-form-field class="col example-full-width">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <mat-form-field class="col example-full-width">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
                <mat-form-field class="col example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
                <mat-radio-group clas="col" formControlName="gender" aria-label="Select an option">
                    <mat-radio-button value="male">Hombre</mat-radio-button>
                    <mat-radio-button value="female">Mujer</mat-radio-button>
                </mat-radio-group>
                <div>
                    <button class="m-1" mat-raised-button color="primary">Registrar</button>
                    <a class="m-1" routerLink="/login" mat-raised-button color="accent">Volver a Login</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

</div>