<div class="container-fluid">
    <div class="row text-center">
        <h1>Bienvenido a la plataforma de FinanSys!</h1>
        <h2>¿Que estas esperando para reinventarte?</h2>
        <p>
            Con esta plataforma, podras afianzar o adquirir nuevos conocimientos de los
            diversos activos digitales y seguir creciendo con las nuevas tecnologias y novedades
            que surgen dia a dia, realizar un seguimiento a los mercados, entre muchas otras cosas!
        </p>
        <div class="col">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates ab ipsam aperiam cumque facere nobis. Quasi mollitia hic, cum explicabo, perspiciatis est corporis obcaecati, exercitationem tenetur inventore praesentium. Repudiandae, minus?</div>
        <div class="col">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum itaque, deserunt repellendus harum numquam adipisci exercitationem reiciendis earum sequi, voluptatum nobis facere ipsa, inventore laboriosam mollitia eaque vitae assumenda laborum.</div>
        <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptate facere iure, earum, placeat quae soluta amet reprehenderit eligendi deserunt laboriosam illo minus accusantium eaque corporis quas culpa omnis maiores?</div>
        <div class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum possimus ad at assumenda, nemo recusandae expedita ducimus eligendi eveniet fugiat doloremque molestiae quae cumque autem omnis! Iusto ut iure eius?</div>
        <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, reprehenderit ratione. Vel consequuntur excepturi, minima earum nemo fugiat atque iste assumenda fuga molestiae recusandae voluptatibus, veritatis quisquam doloremque perferendis necessitatibus!</div>
        <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, reprehenderit ratione. Vel consequuntur excepturi, minima earum nemo fugiat atque iste assumenda fuga molestiae recusandae voluptatibus, veritatis quisquam doloremque perferendis necessitatibus!</div>
    </div>
</div>
